<html>
	<head>
		<script>
		function send_end_time() {
			var timeElm = window.document.getElementById('time_datum_end_time');
			var t = new Date();
			timeElm.value = t.getHours() + ":" + t.getMinutes();

			window.document.getElementById('end_time_form').submit();
		}

		window.onload = function() {
			var timeTable=document.getElementById("timeTable");
			if(timeTable.getContext) {
				var ctx = timeTable.getContext("2d");

				ctx.fillRect(25,25,5,50);
				ctx.fillRect(975,25,5,50);
				ctx.fillRect(25,50,950,5);
			}
			else alert("It's not supported brower");
		}
		</script>
	</head>
	<body>
		<h1> Welcom! <%= @member.name %><br> </h1>
	<div class="container">

		<div class="left">
			START TIME<br>
			<%= @time_datum.start_time.strftime("%H:%M") %><br>
		</div>
		<div class="right">
			END TIME<br>
			<% if @time_datum.end_time.present? %>
				<%= @time_datum.end_time.strftime("%H:%M") %><br>
			<% end %>
			<%= form_for @time_datum, :id => 'end_time_form', url: time_datum_path do |t| %>
				<%= t.hidden_field :end_time, :value => "" %>
				<button onclick='send_end_time();'>END</button>
			<% end %>
		</div>
		<div class="center">
			<!-- Table for showing remain time to go off -->
			<canvas id="timeTable" width="1000" height="100"></canvas><br>
		</div>
		<%= link_to 'Back', time_data_path %>
	</div>
	</body>
</html>
