<!DOCTYPE html>
<html lang="en">
	<head background-color: white>
		<script>

		// set value of remain time
		function remaintimeClock() {
			var per = getpercent();

			document.getElementById('rtcInput').innerHTML = getremainTime();
			document.getElementById('status').style = "width:" + per + "%";
			document.getElementById('statusI').style = "width:" + (per - 20) + "%";
			setTimeout("remaintimeClock()", 1000);
		}

		//Changing "HH:MM" time to seconds
		function timeToseconds(t) {
			t = t.split(":");
			if(t[2] == undefined) {
				seconds = t[0]*60*60 + t[1]*60
			} else {
				//seconds = t[0]*60*60 + t[1]*60 + t[2] : t[2] is defined as string.
				seconds = t[0]*60*60 + t[1]*60 + t[2]*1				
			}
			return seconds;
		}

		//saving average end time and change to seconds
		function getremainTime() {
			var endtime = window.document.getElementById('avgEndTime').innerHTML;
			var t = new Date();
			var now = t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds();
			var remaintime = "";

			if( timeToseconds(endtime) < timeToseconds(now)) {
				return "Time is end!! Go HOME!!!";
			}
			else {
				remaintime = timeToseconds(endtime) - timeToseconds(now);
				var pad = function(x) { return (x < 10) ? "0"+x : x; }

				return pad(parseInt(remaintime/(60*60))) + ":" +
						pad(parseInt(remaintime/60%60)) + ":" +
						pad(parseInt(remaintime%60));
			}
		}

		function getpercent() {
			var totalTime = timeToseconds(document.getElementById("avgEndTime").innerHTML) - 
							timeToseconds(document.getElementById("startTime").innerHTML);

			var t = new Date();
			var now = t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds();
			now  = timeToseconds(now) - timeToseconds(document.getElementById("startTime").innerHTML);

			if(now > totalTime) {
				return 100
			} else {
				return ((now/totalTime) * 100).toFixed(2);

			}
		}

		function sendEndTime() {

			var timeElm = window.document.getElementById('time_datum_end_time');
			var t = new Date();
			timeElm.value = t.getHours() + ":" + t.getMinutes();

			window.document.getElementById('end_time_form').submit();
		}
		</script>
	</head>
	<body onload="remaintimeClock()">
		<h1> Welcom! <%= @member.name %><br> </h1>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<span id="statusI" class="iAction"></span><%= image_tag "#{@member.image_path}" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2" style="text-align:center">
					출근시간<br>
					<p id="startTime"><%= @time_datum.start_time.strftime("%H:%M") %></p>
				</div>
				<div class="col-md-8" style="left-margin:0px">
					<span class="iGraph">
						<span class="gBar"><span id="status" class="gAction"></span></span>
					</span>
				</div>
				<div class="col-md-2" style="text-align:center">
					평균 퇴근시간<br>
					<p id="avgEndTime"><%= @avg_time_datum.avg_end_time.strftime("%H:%M") %></p>
				</div>
			</div>
			<div class="row" style="text-align:center">
					<% if @time_datum.end_time.present? %>
						<%= @time_datum.end_time.strftime("%H:%M") %><br>
					<% end %>
					<%= form_for @time_datum, :id => 'end_time_form', url: time_datum_path do |t| %>
						<%= t.hidden_field :end_time, :value => "" %>
						<button onclick='sendEndTime();'>퇴근!!!!</button>
					<% end %>
			</div>

			<form name="rtcForm">
				<div class="row" style="text-align:center">
					<p id="rtcInput"></p>
				</div>
			</form>
			<%= link_to 'Back', time_data_path %>
		</div>
	</body>
</html>
