<!-- Flush notification -->

<p id="notice"><%= notice %></p>

<h1> Welcom! <%= @member.name %><br> </h1>

START TIME<br>
<%= @time_datum.start_time.strftime("%H:%M") %><br>

END TIME<br>
<% if @time_datum.end_time.present? %>
<%= @time_datum.end_time.strftime("%H:%M") %><br>
<% end %>

<%= form_for @time_datum, :id => 'end_time_form', url: time_datum_path do |t| %>

	<%= t.hidden_field :end_time, :value => "" %>
	<button onclick='send_end_time();'>END</button>
<% end %>

<canvas id="cnvs" width="100" height="100" style="background-color: ghostwhite; border: 1px solid black"></canvas>

<%= link_to 'Back', time_data_path %>

<script>
	function send_end_time() {
		var timeElm = window.document.getElementById('time_datum_end_time');
		var t = new Date();
		timeElm.value = t.getHours() + ":" + t.getMinutes();

		window.document.getElementById('end_time_form').submit();
	}

	window.onload = function() {
		var cnvs=document.getElementById("cnvs");
		if(cnvs.getContext) {
			var ctx = cnvs.getContext("2d");

			// Left top red quardrangle
			ctx.fillStyle = "rgb(255,0,0)";
			ctx.fillRect(10,10,50,50);
			// Right bottom blue quardrangle
			ctx.fillStyle = "rgba(0,0,255,0.5)";
			ctx.fillRect(40,40,50,50);
		}
		else alert("It's not supported brower");
	}
</script>
