<% provide(:title, "Log in") %>
<h1>Log in</h1>
<!-- <p>Find me in app/views/sessions/new.html.erb</p> -->

	<div>
	<div>
		<%= form_for(:session, url: login_path) do |f| %>

			<%= f.label :"Employ Number" %>
			<%= f.text_field :enum %>
			<br>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<br>
			<%= f.submit "Log in" %>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", new_member_path %></p>
	</div>
</div>
