<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Employ Number" %><br>
    <% if @member.enum.present? %>
      <%= f.text_field :enum, :disabled => true %>
    <% else %>
      <%= f.text_field :enum %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"Confirm Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>  
  <div class="field">
    <%= f.label :name %><br>
    <% if @member.name.present? %>
      <%= f.text_field :name, :disabled => true %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :"Birthday" %><br>
    <% if @member.birth.present? %>
      <%= f.text_field :birth, :disabled => true %>
    <% else %>
      <%= f.text_field :birth %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <% if @member.position.present? %>
      <%= f.text_field :position, :disabled => true %>
    <% else %>
      <%= f.text_area :position %>
    <% end %>
  </div>
  <div class="field">
    <% if @member.department.present? %>
      <%= f.text_field :department, :disabled => true %>
    <% else %>
      <%= f.text_area :department %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
