<% provide(:title, @member.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag "#{@member.image_path}" %>
        <%= @member.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Employ Number:</strong>
  <%= @member.enum %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @member.birth %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Department:</strong>
  <%= @member.department %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
